@font-face {
    font-family: "arirang";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/arirang/arirang.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/arirang/arirang.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/arirang/arirang.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/arirang/arirang.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/arirang/arirang.ttf") format("truetype");
    font-display: swap;
}
.arirang {
    font-family: "arirang";
}